/* Connection Font Icons */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), 
    url('../fonts/fontawesome-webfont.woff2') format('woff2'), 
    url('../fonts/fontawesome-webfont.woff') format('woff'), 
    url('../fonts/fontawesome-webfont.ttf') format('truetype'), 
    url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Circe-ExtraBold';
    src: url('../fonts/Circe-ExtraBold.eot');
    src: url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Circe-ExtraBold.woff') format('woff'),
         url('../fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../fonts/SegoeUI-Bold.eot');
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SegoeUI-Bold.woff') format('woff'),
         url('../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-SemiBold';
    src: url('../fonts/SegoeUI-SemiBold.eot');
    src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
         url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe-Black';
    src: url('../fonts/Segoe-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI-SemiBoldIt';
    src: url('../fonts/SegoeUI-SemiBoldIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-BlackIt';
    src: url('../fonts/SegoeUI-BlackIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$exb: 'Circe-ExtraBold', 'Segoe-Black';
$black: 'Segoe-Black', 'SegoeUI-Bold';
$bold: 'SegoeUI-Bold';
$seminorm: 'SegoeUI-SemiBold';
$semi: 'SegoeUI-SemiBoldIt';
$regular: 'Roboto-Regular';

$blit: 'SegoeUI-BlackIt', 'Circe-ExtraBold';

$main: #FFAA00;
$hover: #FFE812;

@mixin inline-block {
	display: inline-block;
	vertical-align: top;
}
@mixin ul-default {
	list-style: none;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

*:after, *:before {
	display: block;
	line-height: 1;
}

input:invalid {box-shadow: none;}
input:moz-submit-invalid {box-shadow: none;}
textarea:invalid {box-shadow: none;} 
textarea:moz-submit-invalid {box-shadow: none;}

img {border: 0;
	display: block;}

ul, ol {padding-left: 0;}
ul {list-style-type: none;}
ol {list-style-position: inside;}

button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}



:root {font-size: 21px;}
html,body {scroll-behavior: smooth;}

body {
	font-size: 1rem;
	display: flex;
	height: 100vh;
	min-width: 300px;
	position: relative;
	flex-direction: column;
	font-family: $regular;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	color: #303030;
	padding-top: 100px;
	line-height: 126.3%;
	&::-webkit-scrollbar { width: 7px; }
	&::-webkit-scrollbar:horizontal { height: 7px; }

	&::-webkit-scrollbar-track {
		background: rgba(50,50,50,0.1);
		border-radius: 1em;
	}
	&::-webkit-scrollbar-thumb {
		// background: #999999;
		background: rgba(50,50,50,0.3);
		background:  linear-gradient(186.52deg, #FFAA00 0%, #FFE812 99.32%), #FFE812;
		border-radius: 1em;
	}
	
	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	
	@media screen and (max-width: 768px) {
		display: block;
	}
}

.footer {margin-top: auto;}




h1 {
	font-family: $exb;
	font-size: 54px;
	color: #303030;
	margin: 0 0 24px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 126.3%;
	@media screen and (max-width: 1400px) {
		font-size: 42px;
	}
	@media screen and (max-width: 1024px) {
		font-size: 28px;
        margin-bottom: 20px;
	}
    @media screen and (max-width: 768px) {
        font-size: 28px;
		margin-bottom: 5px;
    }
}
h2 {
	font-family: $bold;
	font-size: 54px;
	color: #303030;
    margin: 0 0 36px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 126.3%;
	position: relative;
	padding-left: 29px;

	&::before {
		position: absolute;
		display: block;
		height: 75%;
		content: ' ';
		width: 5px;
		background: #303030;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	@media screen and (max-width: 1450px) {
		font-size: 38px;
	}
	@media screen and (max-width: 1024px) {
		font-size: 26px;
        margin-bottom: 30px;
	}
    @media screen and (max-width: 768px) {
        font-size: 26px;
        margin-bottom: 20px;
		padding-left: 16px;

    }
}
h3 {
	font-family: $bold;
	font-size: 26px;
	color: #303030;
	@media screen and (max-width: 1024px) {
		font-size: 24px;
	}
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}
h4 {
	font-family: $bold;
	font-size: 22px;
	color: #303030;
    @media screen and (max-width: 1024px) {
        font-size: 20px;
    }
    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
}
h5 {
	font-family: $bold;
	font-size: 18px;
	color: #303030;
}
h6 {
	font-family: $bold;
	font-size: 16px;
	color: #303030;
}

p {
	margin: 0 0 1rem;
	line-height: 1.4;
}

a {
    color: #282727;
	transition: 300ms ease-out;
	text-decoration: none;
	&:hover {
		text-decoration: none;
        color: #282727;
	}
}

textarea, 
button, 
select, 
input[type="text"], 
input[type="tel"], 
input[type="email"], 
input[type="search"],
input[type="password"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
}
.wrapper, .page {
	position: relative;
	flex: 1 0 auto;
}

.wrapper {
	.container {
		padding-top: 85px;
		padding-bottom: 40px;
		@media screen and (max-width: 1024px) {
			padding-top: 65px;
			padding-bottom: 25px;
		}
		@media screen and (max-width: 768px) {
			padding-top: 60px;
			padding-bottom: 20px;
		}
	}
}


textarea, 
input[type="text"], 
input[type="tel"], 
input[type="email"], 
input[type="search"], 
input[type="password"] {
	min-height: 40px;
	width: 100%;
	background-color: #fff;
	font-family: $regular;
	font-size: 16px;
	padding: 5px 15px;
	margin-bottom: 15px;
	box-shadow: none;
	&::placeholder {color: inherit; opacity: .8;}
}

.container {
    width: 1710px;
    padding: 0 60px;
	margin: 0 auto;
	@media(max-width: 1710px) {
		width: 100%;
	}
	@media(max-width: 1000px) {
		padding: 0 15px;
	}
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
	width: max-content;
	text-align: center;
	cursor: pointer;
	line-height: 1;
	transition: 300ms ease-out;
	
    font-size: 18px;
    color: #fff;
	font-family: $bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;

    background-color: transparent;
    border-radius: 0px;
	padding:  .83em 4.8em;
	
    border: 0;
    outline: 0;

	background: linear-gradient(276.52deg, #FFAA00 0%, #FFE812 99.32%), #FFE812;
	box-shadow: 10px 10px 8px -8px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	background-size: 150% 100%;
	background-position: 50% 0;

    &:hover,
    &.active {
        background-position: 100% 0;
    }
}

.check--list {
	@include ul-default;
	li {
		display: block;
		position: relative;
		padding-left: 20px;
		margin-bottom: 22px;
		&:before {
			content: ' ';
			position: absolute;
			left: 0;
			top: .4em;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $main;
		}
	}
}

.col--location,
.col--whatsapp,
.col--phone,
.col--email,
.col--time,
.col--inst,
.col--fb,
.col--vk {
	position: relative;
	padding-left: 25px;
	&:after {
		content: '';
		font-family: 'fontAwesome';
		font-size: 1em;
		color: inherit;;
		position: absolute;
		top: 0px;
		left: 0;
	}
}
.col--location:after {
	content: '\f041';
}
.col--phone:after {
	content: '\f095';
}
.col--email:after {
	content: '\f0e0';
	font-size: 16px;
	top: 2px;
}
.col--whatsapp:after {
	content: '\f232';
}
.col--time:after {
	content: '\f017';
}
.col--inst:after {
	content: '\f16d';
}
.col--fb:after {
	content: '\f09a';
}
.col-vk:after {
	content: '\f189';
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  .hamRotate.active {
	transform: rotate(45deg);
  }
  
  .line {
	fill:none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke:#303030;
	stroke-width:5.5;
	stroke-linecap:round;
  }

  .ham4 .top {
	stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
	stroke-dasharray: 40 121;
  }
  .ham4.active .top {
	stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
	stroke-dashoffset: -68px;
  }

header {
	.nav--btn {display: none;}
	@media screen and (max-width: 1000px) {
		.nav--btn {
			display: block;
			width: 50px;
			height: 45px;
			position: absolute;
			left: -3px;
			top: 2px;
			padding: 0;
			margin: 0;
			outline: none;
			float: none;
		}
	}
}
/* header */


.flex {display: flex;}
.spb {justify-content: space-between;}
.center {align-items: center;}

.header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	box-shadow: 0 .5px 2px 0 rgba(0, 0, 0, 0.2);

	.container {
		padding-top: 19px;
		padding-bottom: 21px;
	}

	.logo {
		width: 130;
		height: 60px;
		object-fit: contain;
		object-position: left center;
	}
	a {
		font-family: $bold;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-size: 18px;
		&:hover {color: $main;}
	}
	.nav a {
		padding: 2px 10px;
	}
	.fa-phone {
		position: relative;
		top: .1em;
		font-size: 1.1em;
	}
}