.call--btn {
    position: fixed;
    bottom: 100px;
    right: 40px;
    display: grid;
    place-items: center;
    background-color: #FFAA00;
    font-family: 'FontAwesome';
    border-radius: 100%;
    text-decoration: none !important;
    width: 65px;
    height: 65px;
    text-align: center;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    outline: none !important;
    z-index: 99;
    border: 0;
    outline: 0;

    background: linear-gradient(276.52deg, #FFAA00 0%, #FFE812 99.32%), #FFE812;
    cursor: pointer;

    &:hover {
           
        img {
            animation-name: phone;
            animation-iteration-count: 1;
            animation-duration: 0.7s;
        }
    
    }

    img {
        display: block;
        width: 32px;
        height: 32px;
        object-fit: contain;
        object-position: center;
    }

    &:after,
    &:before {
        content: '';
        width: 90%;
        height: 90%;
        background-color: transparent;
        border: 1px solid $main;
        position: absolute;
        top: 4%;
        left: 4%;
        border-radius: 100%;
        animation-iteration-count: infinite;
        animation-duration: 1.2s;
        animation-name: ring;
        outline: none;
    }

    &:after {
        animation-delay: 0.6s;
    }

    &:before {
        animation-delay: 0.8s;
        border: 1px solid $main;
    }

    @media screen and (max-width: 1440px) {
        margin-right: 0;
        right: 35px;
        bottom: 75px;
        
    }

    @media screen and (max-width: 991px) {
        width: 50px;
        height: 50px;
        right: 15px;
        bottom: 80px;

        img {
            width: 26px;
            height: 26px;
        }
    }

    @media screen and (max-width: 768px) {
        bottom: 50px;
    }
}

@keyframes ring {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0.1;
        transform: scale(1.7);
    }
}

@keyframes phone {
    20% {
        transform: rotate(-30deg);
    }

    80% {
        transform: rotate(390deg)
    }

    100% {
        transform: rotate(360deg);
    }
}